* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

input[type="text"] {
    border: 2px solid #007bff;
    border-radius: 5px 0 0 5px; 
    padding: 10px;
    width: 75%;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-checkbox {
    margin-right: 10px;
}

li.completed span {
    text-decoration: line-through; 
    color: #ababab; 
}

button.edit {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px; 
    color: #007bff;
}

button.remove {
    background: transparent;
    border: none;
    color: #dc3545;
    margin-left: auto;
    cursor: pointer;
}

button.clear-all {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px; 
    font-size: 16px;
    width: 100%; 
}

button.clear-all:hover {
    background-color: #b02a37; 
}

#clear-all {
    background-color: transparent; 
    border: none;
    color: #dc3545; 
    cursor: pointer;
    margin-left: 10px;
    padding: 0; 
}

#clear-all i {
    font-size: 20px;
}  
